.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background-color: var(--ifm-background-surface-color);
}

.featureIcon {
  font-size: 4rem;
  margin-bottom: 1rem;
  line-height: 1;
}
